# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/override.tf
**/*_override.tf
**/.providers/
**/terraform.tfvars

# Python
**/__pycache__/
**/.pytest_cache/
**/.venv/
**/venv/
